* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #333333;
    background-image: url(https://i.ytimg.com/vi/xbjtcgWWbeU/maxresdefault.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 100vh;
}

main {
    height: 660px;
    width: 900px;
    background-color: darkorange;
    margin:40px auto 0;
    padding: 20px;
    position: relative;
}

.rect {
    color: red;
    font-size: 40px;
    text-align: center;
    height: 300px;
    width: 200px;
    background-color: white;
    position: absolute;
}

.rect span {
    position: absolute;
    bottom: 0px;
    visibility: hidden;
}

.rect:hover span {
    visibility: visible;
}

.rect img{
  height: 80%;
  max-width: 125px;
  margin: auto;
  display: block;
  object-fit: contain;
}

.disc {
    text-align: center;
    line-height: 220%;
    height: 40px;
    width: 50px;
    background-color: lightgreen;
    position: absolute;
}

#rect2 {
    left: 240px;
}
#rect3 {
    left: 460px;
}
#rect4 {
    left: 680px;
}
#rect5 {
    top: 340px;
}
#rect6 {
    top: 340px;
    left: 240px;
}
#rect7 {
    top: 340px;
    left:460px;
}
#rect8 {
    top: 340px;
    left:680px;
}

#disc2 {
    left:240px;
}

#disc3 {
    left:460px;
}
#disc4 {
    left:680px;
}
#disc5 {
    top: 340px;
}
#disc6 {
    top: 340px;
    left:240px;
}
#disc7 {
    top: 340px;
    left:460px;
}
#disc8 {
    top: 340px;
    left:680px;
}
